<h2>Dashboard</h2>

<p>Secure area</p>

  Local user
  {{user.local._id }} </br>
  {{user.local.username}}</br>
  {{user.local.password}}</br>
<a href="/unlink/local">Unlink</a>
<a href="/connect/local">Connect Local</a>
  Facebook user</br>
  {{user.facebook.name}}</br>

<a href="/unlink/facebook">Unlink</a>
<a href="/connect/facebook">Connect Facebook</a>

Twitter user</br>
  {{user.twitter.displayName}}</br>
  {{user.twitter.name}}</br>

<a href="/unlink/twitter">Unlink</a>
<a href="/connect/twitter">Connect Twitter</a>
Google user</br>
  {{user.google.name}}</br>
  {{user.google.email}}</br>

<a href="/unlink/google">Unlink</a>
<a href="/connect/google">Connect Google</a>


<a href="/logout">Logout</a>
