<h2>Dashboard</h2>

<p>Secure area</p>

  Local user
  {{user.local._id }} </br>
  {{user.local.username}}</br>
  {{user.local.password}}</br>

  Facebook user</br>
  {{user.facebook.name}}</br>


Twitter user</br>
  {{user.twitter.displayName}}</br>
  {{user.twitter.name}}</br>

Google user</br>
  {{user.google.name}}</br>
  {{user.google.email}}</br>



<a href="/logout">Logout</a>
